<section class="content">

  <!-- Default box -->
  <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Fournisseur</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form onsubmit="return false">
        <div class="card-body">
          <div class="form-group">
              <p id="nomFour"></p>
          </div>
          <div class="form-group">
              <p id="nomEntre"></p>
          </div>
          <div class="form-group">
              <p id="email"></p>
          </div>

          <div class="form-group">
              <p id="adresse"></p>
          </div>

          <div class="form-group">
              <p id="codepost"></p>
          </div>

          <div class="form-group">
              <p id="ville"></p>
          </div>

          <div class="form-group">
              <p id="pays"></p>
          </div>

          <div class="form-group">
              <p id="telep"></p>
          </div>
          <div class="form-group">
              <p id="fax"></p>
          </div>

        </div>
        <!-- /.card-body -->

      </form>
    </div>
  <!-- /.card -->

</section>
