.imge {
    width: 250px;
    height: 300px;
    position: relative;
    margin: 40px 20px 50px 5px;
}


.span {
    background-color: red;
}

.hamza-css {
    display: flex;
    /* outline: none; */
    flex-direction: column;
    flex: -1;
}

.group1 {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
}