<h3>books details</h3>
<div class="card mb-3">
  <img src="{{ book?.image }}" class="card-img-top" alt="{{ book?.title }}">
  <div class="card-img-overlay">
    <h5 class="card-title">{{ book?.title }}</h5>
    <!-- <p class="card-text">By: <strong>{{ book?.instructor }}</strong></p>
    <p class="card-text">Last updated: <strong>{{ book?.last_update }}</strong></p> -->
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ book?.title }}</h4>
    <p class="card-text"><strong>Description:</strong> {{ book?.description }}.</p>
    <p class="card-text"><strong>Instructor:</strong> {{ book?.instructor }}.</p>
    <p class="card-text"><strong>Language:</strong> {{ book?.language }}.</p>
    <p class="card-text"><strong>Price:</strong> {{ book?.price|currency }}.</p>
    <p class="card-text"><strong>Goals:</strong></p>
    <ul>
      <li *ngFor="let goal of book?.goals">{{ goal }}</li>
    </ul>
    <p class="card-text"><strong>Requirements:</strong></p>
    <ul>
      <li *ngFor="let requirement of book?.requirements">{{ requirement }}</li>
    </ul>
    <button (click)="addToCart(book?.id)" type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
    <p class="card-text text-end"><small class="text-muted">Last updated: {{ book?.last_update }}</small></p>
  </div>
</div>
