<div class="container bg-light">
  <!-- <table *ngIf="books" class="table table-striped">
    <thead>
    <tr>
      <th>Id book</th> <th>titre</th> <th>prix</th> <th>crée par</th> <th>nombre de pages</th> <th>Catégorie</th> <th>date de sortie</th>  <th>quantité</th>  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let boo of books._embedded.books">
      <td>{{boo.book_id}}</td>
      <td>{{boo.title}}</td>
      <td>{{boo.price|number:'0.2'}}</td>
      <td>{{boo.postedBy}}</td>
      <td>{{boo.nbrePages}}</td>
      <td>{{boo.category}}</td>
      <td>{{boo.dateCreated}}</td>
      <td>{{boo.quantite}}</td>
      <td><a class="btn btn-danger" (click)="onDeleteBook(boo)">Delete</a></td>
      <td><a class="btn btn-warning" (click)="onEditBook(boo)">Edit</a></td>
    </tr>
  </tbody>
  </table>  -->
   <!-- <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
                <input type="hidden" name="_id" [(ngModel)] = ""/> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <br /> <hr />
  <ol class="list-group-item row" *ngFor="let item of books">
    <li class="card-container d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto flex-xl-wrap" *ngIf="item">
          <h4 class="fw-bold text-red"><span>Titre: </span>{{item.titre}}</h4>
          <h5>Date de publication:  <span class="badge bg-grey alert-dark">{{item.published_date}}</span></h5>
          <img src="{{item.imageUrl}}" alt="book_image" width="230px" height="270px"/>
          <h5>Catégorie: {{item.category}}</h5>
          <h5>Rating: <span>{{item.stars}}</span></h5>
          <h5 class="position-relative right-15">nombre de reviews: <span class="badge bg-danger rounded-2">{{item.reviews}}</span></h5>
          <h4>Prix: {{item.prix}}</h4>
          <h5>Nombre de page: <span class="badge bg-primary rounded-pill">{{item.nbre_page}}</span></h5>
          <button routerLink="/admin/list-books">Espace Admin</button>   
        </div>
    </li>
    <br/><hr class="h-100"/>
  </ol>
</div>


