<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
            <ul *ngFor="let book of BooksArray">
          <li>{{ item.titre }}</li>
            <li>{{ item.auteur }}</li>
            <li>{{ item.category}}</li>
            <li>{{ item.published_date }}</li>
            <li>{{ item.nbre_page }}</li>
            <li>{{ item.reviews }}</li>
            <li>{{ item.prix }}</li>
            <li>
               <img src="{{item.imageUrl}}" width="140px" height="150px" alt="" />
            </li>
            <li>
               <button type="button" >Modifier</button>
               <button type="button" >Retirer</button>
            </li>
            </ul>
    </div>
  </div>
</div> -->