<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to Mediathéque </h1>
        <p class="lead text-muted">vous trouverez votre livre préferé ici et pouvez acheter en quelques clicks avec n'importe quel moyen de paiement, ajouter au panier,supprimer ou changer la quantité d'un tel livre </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light flex-wrap">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let book of booksList">
          <div class="card shadow-sm">
            <img [src]="book.imageUrl" [alt]="book.titre" width="320px" height="350px">

            <div class="card-body">
              <h3>{{ book.titre }}</h3>
              <!-- <p class="card-text">{{ book.description|slice:0:70 }} [...]</p> -->
              <p class="card-text">{{ book.auteur}} [...]</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button routerLink="/book/{{book.id}}" type="button"
                    class="btn btn-sm btn-outline-secondary">Show</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>
                <span>{{book.stars}}</span>
                <!-- <small class="text-muted">{{ book.prix|currency:'EUR' }}</small> -->
                <small class="text-muted">{{ book.prix }}</small>
                <small class="text-muted">{{ book.nbre_page }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>