<section class="content">

  <!-- Default box -->
  <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Produits</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <p id="nompro"></p>
              </div>
              <div class="form-group">
                  <p id="quantite"></p>
              </div>
              <div class="form-group">
                  <p id="prix"></p>
              </div>

              <div class="form-group">
                  <p id="emplacement"></p>
              </div>

              <div class="form-group">
                  <p id="dateEntre"></p>
              </div>

              <div class="form-group">
                  <p id="nouveau"></p>
              </div>

              <div class="form-group">
                  <p id="description"></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <img src="" id="image" alt="Product pic">
              </div>
            </div>
          </div>


        </div>
        <!-- /.card-body -->

    </div>
  <!-- /.card -->

</section>
