<router-outlet>
    <app-header-section></app-header-section>
    <!-- <app-home-section></app-home-section> -->
    <!-- <app-admin-section></app-admin-section> -->
</router-outlet>

<!-- *nfFor, *ngIf, data binding : entre state et template : affiche les string par interpolation
    data binding types: des properties se trouve dans la classe on va afficher en html
    Inner Html : interpolation
    properties binding
    event binding
    model 
-->


<!-- 
    meta data dans component : @Component
    classe ts : contient states et methods , proprieté/ états et comporetement
 -->