<div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addBookModalLabel">Ajouter Livre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
          <!-- <form> -->
          <div class="form-group">
             <label for="name">Libellé</label>
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Titre produit" required>
          </div>
          <div class="form-group">
             <label for="auteur">Réalise par</label>
             <input type="text" ngModel name="auteur" class="form-control" id="email" placeholder="Réalisé par" required>
          </div>
          <div class="form-group">
             <label for="phone">Date Réalisation</label>
             <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile" placeholder="Job title" required>
          </div>
          <div class="form-group">
             <label for="category">catégorie</label>
             <input type="text" ngModel name="category" class="form-control" id="phone" placeholder="Catégorie" required>
          </div>
          <div class="form-group">
             <label for="image">Image URL</label>
             <input type="image" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div>
          <div class="modal-footer">
             <button type="button" id="add-Book-form" class="btn btn-secondary" data-dismiss="modal">Add Book</button>
             <!-- <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button> -->
             <button type="submit" class="btn btn-primary" >Save changes</button>
          </div>
          </form>
       </div>
    </div>
  </div>
  </div>