<section class="content">

  <!-- Default box -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listes</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body"><!-- /.id="example1" -->
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                <th>N°</th>
                <th>Nom fournisseur</th>
                <th>Email</th>
                <th>Nom Entreprise</th>
                <th>pays</th>
                <th>Telephone</th>
                <th colspan="3">Action</th>
                </tr>
              </thead>
              <tbody id="listfour">
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
  <!-- /.card -->

</section>
