/* ngb-rating {
  font-size: 100px;
  color:brown;
  background: rgba(23, 221, 16, 0.815);
} */

/* div {
  display: flex;
  justify-content: center;
} */
img {
  padding-top: 10px;
  /* left: 10%; */
  margin-left: 15px;

}