<div>
    <h2>Espace Admin / Gestion livres</h2>
   <!-- <h4>Angular HTML Table Example</h4> -->
   <table class="table table-dark">
      <thead>
         <tr>
            <th scope="col">#ID</th> 
            <th scope="col">titre livre</th>
            <!-- <th scope="col">auteur</th> -->
            <th scope="col">Réalisé par</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Date publication</th>
            <th scope="col">Nombre Pages</th>
            <th scope="col">reviews</th>
            <th scope="col">Prix</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>

         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let item of BooksArray">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.titre }}</td>
            <td>{{ item.auteur }}</td>
            <td>{{ item.category}}</td>
            <td>{{ item.published_date }}</td>
            <td>{{ item.nbre_page }}</td>
            <td>{{ item.reviews }}</td>
            <td>{{ item.prix }}</td>
            <td>
               <img src="{{item.imageUrl}}" width="140px" height="150px" alt="" />
            </td>
            <td>
               <button type="button" >Modifier</button>
               <button type="button" >Retirer</button>
            </td>
         </tr>
      </tbody>
   </table>
</div>