<h2>about works!</h2>
<h4>User details</h4>

<ul>
  <li>{{ user.name }} <{{ user.email }}>
  </li>
  <li>{{ user.name+ ' <' +user.email+ '>' }}</li>
  <li>{{ user.name.toUpperCase() }} <{{ user.email }}>
  </li>
  <li>{{ reverseName() }} <{{ user.email }}>
  </li>
</ul>
<hr>
<!-- <h3>Change user name</h3>
<button (click)="changeUserName()">Change</button>
<hr>
<h3>New user name</h3>
<label>User name: </label>
<input type="text" [(ngModel)]="user.name"> -->
<!-- <h3>Pipes</h3>
<ul>
    <li>{{today}}</li>
    <li>{{today| date: "TonnyDate" }}</li>
    <li>{{today| date: "shortDate" }}</li>
    <li>{{today| date: "shortTime" }}</li>
    <li>{{today| date: "fullTime" }}</li>
</ul> -->

<p *ngIf="serverCreated">Server hamza is developer</p>
<!-- <div *ngIf="displayName; then thenBlock; else elseBlock"></div> 
<ng-template #thenBlock >

</ng-template> -->
<div *ngFor="let c of colors; index as i">
    <h2>{{i}} {{c}} </h2>
</div>